---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -hicpp-signed-bitwise,
        -cppcoreguidelines-macro-usage,
        -readability-identifier-length,
        -bugprone-easily-swappable-parameters,
        -misc-non-private-member-variables-in-classes,
        -cppcoreguidelines-non-private-member-variables-in-classes,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
